<script>
  import Cell from "./Cell.svelte";
  let name = "Bee Sweeper";
  let message = "mouse: left click = reveal, right click = place";
  let lostMessage = "Stung by a bee!";
  let wonMessage = "You Won!";
  let playing = false;
  let cols, rows;
  let options = [];
  let totalBees;
  $:stung = false;
  $:gameState = !stung && !allRevealed;
  let marktoggle = false;
  let grid;
  let gameBoards = ([
    { cols: 9, rows: 9, totalBees: 10, name: "easy" },
    { cols: 12, rows: 12, totalBees: 10, name: "easy" },
    { cols: 16, rows: 16, totalBees: 40, name: "medium" },
    { cols: 20, rows: 20, totalBees: 40, name: "medium" },
    { cols: 16, rows: 20, totalBees: 40, name: "medium" },
    { cols: 16, rows: 30, totalBees: 99, name: "hard" },
    { cols: 30, rows: 16, totalBees: 99, name: "hard" },
  ]);

  $:if(stung) {
    revealBees()
  };

  function revealBees() {
    for (let i = 0; i < cols; i++) {
      for (let j = 0; j < rows; j++) {
        if (grid[i][j].bee) {
          grid[i][j].marked = false;
          grid[i][j].revealed = true;
        }
      }
    }
  };



  $: allRevealed = options.every(
    (i) =>
      grid[i[0]][i[1]].revealed ||
      (grid[i[0]][i[1]].marked && grid[i[0]][i[1]].bee)
  );

  function initialize(c, r, b) {
    cols = c;
    rows = r;
    // totalBees = Math.floor((cols * rows) / 6);
    totalBees = b;
    options = [];
    grid = makeGrid(cols, rows);
    stung = false;
    placeBees();
    playing = true;
  }

  function makeGrid(cols, rows) {
    let arr = [];
    for (let i = 0; i < cols; i++) {
      arr[i] = [];
      for (let j = 0; j < rows; j++) {
        arr[i][j] = {
          i: i,
          j: j,
          bee: false,
          beeCount: 0,
          revealed: false,
          marked: false
        };
      }
    }
    for (let i = 0; i < cols; i++) {
      for (let j = 0; j < rows; j++) {
        options.push([i, j]);
      }
    }
    return arr;
  }

  function placeBees() {
    let tmpArray = Array.from(options);
    for (let n = 0; n < totalBees; n++) {
      let index = Math.floor(Math.random() * tmpArray.length);
      let choice = tmpArray[index];
      let i = choice[0];
      let j = choice[1];
      // delete spot, so it can't be picked again
      tmpArray.splice(index, 1);
      grid[i][j].bee = true;
    }
    countAllBees();
  }

  function countAllBees() {
    for (let i = 0; i < cols; i++) {
      for (let j = 0; j < rows; j++) {
        if (grid[i][j].bee) {
          grid[i][j].beeCount = -1;
        } else {
          grid[i][j].beeCount = countBees(i, j);
        }
      }
    }
  }

  function countBees(x, y) {
    if (grid[x][y].bee) {
      return -1;
    }
    let total = 0;
    for (let i = -1; i < 2; i++) {
      for (let j = -1; j < 2; j++) {
        if (i == 0 && j == 0) continue;
        let col = x + i;
        let row = y + j;
        if (col >= 0 && col < cols && row >= 0 && row < rows) {
          if (grid[col][row].bee) total++;
        }
      }
    }
    return total;
  }

  function handleClick(e) {
    if (!gameState) return;
    let cell = {
      i: e.detail.i,
      j: e.detail.j,
      bee: e.detail.bee,
      beeCount: e.detail.beeCount,
    };
    if (marktoggle) {
      markCell(cell);
      // marktoggle = false;
    } else {
      revealCell(cell);
    }
    grid = grid;
  }

  function handleRightClick(e) {
    if(!gameState) return;
    let cell = {
      i: e.detail.i,
      j: e.detail.j,
      bee: e.detail.bee,
      beeCount: e.detail.beeCount,
    };
    if (cell.beeCount == 0 || grid[cell.i][cell.j].revealed) return;
    markCell(cell);
    grid = grid;
  }

  function markCell(cell) {
    let c = grid[cell.i][cell.j];
    let m = c.marked;
    c.marked = !m;
  }

  function revealCell(cell) {
    let c = grid[cell.i][cell.j];
    c.revealed = true;
    if (c.bee) {
      stung = true;
      return false;
    }
    if (cell.beeCount == 0) {
      floodFill(cell);
    }
  }

  function floodFill(cell) {
    let x = cell.i;
    let y = cell.j;
    for (let i = -1; i < 2; i++) {
      for (let j = -1; j < 2; j++) {
        if (i == 0 && j == 0) continue;
        let col = x + i;
        let row = y + j;
        if (col >= 0 && col < cols && row >= 0 && row < rows) {
          if (!grid[col][row].bee && !grid[col][row].revealed) {
            revealCell(grid[col][row]);
          }
        }
      }
    }
  }
</script>

<main>
  <h1>{name}</h1>
  <!-- <p style="color:#eee;">gamestate: {gameState}, playing: {playing}, stung: {stung}, allRevealed: {allRevealed}</p> -->
  {#if !playing}
    <h2>choose board size</h2>
    <div class="choicebuttons">
      {#each gameBoards as size}
        <button class="mybutton pb3" on:click={() => {initialize(size.cols, size.rows, size.totalBees)}}>{size.rows} x {size.cols}<br>{size.name}</button>
      {/each}
    </div>
  {:else}
    <div class="gameStatus" class:over={allRevealed || stung}>
      {#if stung}
        <button
          class="mybutton"
          on:click={() => {
            playing = false;
          }}>PLAY AGAIN</button
        >
      {:else if allRevealed && !stung}
        <button
          class="mybutton"
          on:click={() => {
            playing = false;
          }}>PLAY AGAIN</button
        >
      {:else}
        Don't get stung!
      {/if}
      <div class="toggle">
        <span on:click={() => marktoggle = !marktoggle} class:bold={!marktoggle}>reveal cell</span>
        <span><input type="checkbox" id="switch" bind:checked={marktoggle} /><label for="switch">Toggle</label></span>
        <span on:click={() => marktoggle = !marktoggle} class:bold={marktoggle}>place flag</span>
      </div>
    </div>
    <div
      class="grid"
      class:complete={allRevealed}
      style="grid-template-columns: repeat({rows}, 1fr);
          grid-template-rows: repeat({cols}, 1fr);"
    >
    {#each grid as gcol, i}
      {#each gcol as r, j}
        <Cell
          {i}
          {j}
          bee={grid[i][j].bee}
          beeCount={grid[i][j].beeCount}
          revealed={grid[i][j].revealed}
          marked={grid[i][j].marked}
          on:cellClicked={handleClick}
          on:cellRightClicked={handleRightClick}
          on:longPressed={handleRightClick}
          maxheight={Math.floor(600/Math.max(rows, cols))}
        />
      {/each}
    {/each}
    </div>
    <p class="small right bright">{message}</p>
    <!-- <div class="toggle">
      <span on:click={() => marktoggle = !marktoggle} class:bold={!marktoggle}>reveal cell</span>
      <span><input type="checkbox" id="switch" bind:checked={marktoggle} /><label for="switch">Toggle</label></span>
      <span on:click={() => marktoggle = !marktoggle} class:bold={marktoggle}>place flag</span>
    </div>

    <p class="small right bright">{message}</p> -->
  {/if}
  <div class="small right">
    <a href="https://bitbucket.org/tkroo/bee-sweeper">source code</a>
  </div>
</main>

<style>
  :root{
    --color-dark: hsl(0, 0%, 7%);
  }
  :global(body) {
    color: var(--color-dark);
  }
  main {
    /* text-align: center; */
    padding: 0.25em;
    max-width: 100%;
    margin: 0 auto;
    aspect-ratio: 1/1;
    max-height: 70vh;
  }

  h1 {
    background-color: var(--color-dark);
    color: hsl(50, 100%, 50%);
    text-transform: uppercase;
    font-size: 2rem;
    font-style: italic;
    margin: 0 auto;
    margin-bottom: 0;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.125em;
  }
  h2 {
    margin: 0;
  }

  .mybutton {
    margin: 0 0 0 1rem;
    /* font-size: 0.8rem; */
    padding: 0;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    color: hsl(50, 100%, 50%);
    background-color: var(--color-dark);
    border: 0;
    border-radius: 0.25rem;
  }
  .choicebuttons {
    margin: 0.25rem 0 0 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 0.25rem;
  }
  .pb3 {
    margin: 0.25rem auto;
    font-weight: bold;
    text-transform: uppercase;
    background-color: hsl(50, 100%, 50%);
    color: var(--color-dark);
    width: 100%;
  }

  .gameStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 1.25rem;
    text-transform: uppercase;
    border-radius: 0.25rem;
    margin: 0.25rem auto;
    padding: 0 0.5rem;
    color: #fff;
    /* min-height: 2rem; */
  }
  .over {
    color: var(--color-dark);
  }

  .grid {
    width: fit-content;
    display: grid;
    grid-gap: 0.125rem;
    margin: 0 auto;
    line-height: 0;
    position: relative;
  }
  .grid.complete::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255, 204, 0, 0.81);
    mix-blend-mode: multiply;
    z-index: 1;
  }

  .small {
    text-align: left;
    font-size: 13.3333px;
  }

  @media (min-width: 640px) {
    main {
      padding: 0.5rem;
      max-width: 600px;
    }
  }
  .bold {
    color: var(--color-dark);
  }
  .right {
    text-align: right;
  }
  .toggle {
    font-size: 0.8rem;
    margin-top: 0.25rem;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: flex-end;
    grid-gap: 0.5rem;
    width: fit-content;
    color: #666;
    font-weight: bold;
    text-transform: uppercase;
  }
  .toggle input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  .toggle label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: var(--color-dark);
    display: block;
    border-radius: 100px;
    position: relative;
  }

  .toggle label:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: #FFF;
    border-radius: 15px;
    transition: 0.3s;
  }

  .toggle input:checked + label {
    background: hsl(50, 100%, 50%);
  }

  .toggle input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }

  .toggle label:active:after {
    width: 25px;
  }
  .toggle span {
    cursor: pointer;
  }
  .bright {
    color: #eee;
  }
</style>
