<script>
  import { createEventDispatcher }  from 'svelte';
  const dispatch = createEventDispatcher();
  
  export let revealed = false;
  export let i,j;
  export let bee;
  export let marked = false;
  export let beeCount = 0;
  export let maxheight = 0;
  
  $:zero = (beeCount == 0);

  const handleClick = (e) => {
    dispatch('cellClicked', {
      i:i,
      j:j,
      bee:bee,
      revealed:revealed,
      beeCount:beeCount
    });
  }
  const handleRightClick = (e) => {
    dispatch('cellRightClicked', {
      i:i,
      j:j,
      revealed:revealed,
      bee:bee,
      beeCount:beeCount
    });
    return false;
  }
  
</script>

<div
  style="max-height:{maxheight}px;"
  class="block"
  class:revealed
  class:zero={zero && revealed}
  class:bee={bee && revealed}
  class:marked
  on:click={handleClick}
  on:contextmenu|preventDefault|stopPropagation={handleRightClick}
>
  {#if marked}<img src="/images/black-flag_1f3f4.png" alt="flag">{:else}
  <span>
    {#if bee}
    <img src="/images/honeybee_1f41d.png" alt="bee">
    {:else}{beeCount!=0 ? beeCount : ''}{/if}
  </span>
  {/if}
</div>

<style>
  .block {
    box-sizing: border-box;
		aspect-ratio: 1/1;
		display: flex;
		justify-content: center;
		align-items: center;
    border-radius: 0.15em;
    background-color: hsl(194, 23%, 20%);
    transition: background-color 100ms ease-in-out;
    font-weight: 900;
    position: relative;
    padding: 0.25rem;
    user-select: none;
	}
  .block span {
    display: flex;
    opacity: 0;
    user-select: none;
  }
  .debug {
    color: #fff;
  }
  .block img {
    width: 100%;
    height: auto;
  }
  .bee {
    background-color: hsl(7, 100%, 20%) !important;
    color: #fff;
  }
  .zero {
    background-color: hsl(194, 23%, 60%) !important;
  }
  .revealed {
    background-color: hsl(194, 63%, 50%);
  }
  .revealed span{
    opacity: 1;
  }
  .marked {
    /* background-image: repeating-linear-gradient(45deg, #222, #222 4px, #ffcc00 4px, #ffcc00 12px); */
    background-color: hsl(50, 100%, 50%) !important;
    /* border: 6px dotted hsl(0, 0%, 0%); */
  }
</style>